main, head, body, footer, header, #container {
	margin: 0;
	padding: 0;
	border: 0;
  background-color: #363636;
}

main, header {
	background-color: #fff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  text-align: center;
}

input {
  width: 80%;
  display: block;
  margin: 0 auto;
  font-size: 2em;
}

#submit {
	margin: 0 auto;
	display: block;
	padding: 2% 3%;
	background-color: #296DAC;
	color: #F5F5F5;
	font-size: 1.5em;
  border-radius: 12px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

