.question-heading {
    text-align: center;
    color: black;
  }
  
  .go-to-learning {
    text-align: center;
  }
  
  .underline {
    text-decoration: underline;
  }

  .textset{
    text-align: center;
    font-size: 32px;
    color: black;
  }

  .imagesize{
    text-align: center;
  }